/* pages/index/index.scss */

.banner {
  height: 400rpx;
}

.service-board {
  width: 750rpx;
  margin: 0 auto;
}

.notice-board {
  width: 700rpx;
  height: auto;
  margin: 15rpx  auto;
  background-color: #fff;
}

.van-empty__image {
  height: 500rpx !important;
  width: 500rpx !important;
}
