/* pages/order/order.wxss */

@import '../../static/styles/theme.scss';

.address-wrapper {
  width: 100%;
  //// height: 150rpx;
  background: #fff;
  border-bottom: 10rpx dashed $v-border-color;
}

.goods-box {
  width: 100%;
  height: auto;
  background: #fff;
}

.goods-card {
  background: #fff !important;
}
