@import '../theme.scss';

.v-type-primary-light {
	color: $v-type-primary-light !important;
}

.v-type-warning-light {
	color: $v-type-warning-light !important;
}

.v-type-success-light {
	color: $v-type-success-light !important;
}

.v-type-error-light {
	color: $v-type-error-light !important;
}

.v-type-info-light {
	color: $v-type-info-light !important;
}

.v-type-primary-light-bg {
	background-color: $v-type-primary-light !important;
}

.v-type-warning-light-bg {
	background-color: $v-type-warning-light !important;
}

.v-type-success-light-bg {
	background-color: $v-type-success-light !important;
}

.v-type-error-light-bg {
	background-color: $v-type-error-light !important;
}

.v-type-info-light-bg {
	background-color: $v-type-info-light !important;
}

.v-type-primary-dark {
	color: $v-type-primary-dark !important;
}

.v-type-warning-dark {
	color: $v-type-warning-dark !important;
}

.v-type-success-dark {
	color: $v-type-success-dark !important;
}

.v-type-error-dark {
	color: $v-type-error-dark !important;
}

.v-type-info-dark {
	color: $v-type-info-dark !important;
}

.v-type-primary-dark-bg {
	background-color: $v-type-primary-dark !important;
}

.v-type-warning-dark-bg {
	background-color: $v-type-warning-dark !important;
}

.v-type-success-dark-bg {
	background-color: $v-type-success-dark !important;
}

.v-type-error-dark-bg {
	background-color: $v-type-error-dark !important;
}

.v-type-info-dark-bg {
	background-color: $v-type-info-dark !important;
}

.v-type-primary-disabled {
	color: $v-type-primary-disabled !important;
}

.v-type-warning-disabled {
	color: $v-type-warning-disabled !important;
}

.v-type-success-disabled {
	color: $v-type-success-disabled !important;
}

.v-type-error-disabled {
	color: $v-type-error-disabled !important;
}

.v-type-info-disabled {
	color: $v-type-info-disabled !important;
}

.v-type-primary {
	color: $v-type-primary !important;
}

.v-type-warning {
	color: $v-type-warning !important;
}

.v-type-success {
	color: $v-type-success !important;
}

.v-type-error {
	color: $v-type-error !important;
}

.v-type-info {
	color: $v-type-info !important;
}

.v-type-primary-bg {
	background-color: $v-type-primary !important;
}

.v-type-warning-bg {
	background-color: $v-type-warning !important;
}

.v-type-success-bg {
	background-color: $v-type-success !important;
}

.v-type-error-bg {
	background-color: $v-type-error !important;
}

.v-type-info-bg {
	background-color: $v-type-info !important;
}

.v-main-color {
	color: $v-main-color !important;
}

.v-content-color {
	color: $v-content-color !important;
}

.v-tips-color {
	color: $v-tips-color !important;
}

.v-light-color {
	color: $v-light-color !important;
}

.v-type-money-color {
	color: $v-type-money !important;
}
